<% if @chapters.count > @chapter_count %>
$('#next-link').show();
var idLess = parseInt($('#chapter_number').val());
var id = idLess + 1;
var next = id + 1;
//ar attr = $('#next-link').attr("href");
//alert(attr);
$('#next-link').attr("href", "/works/62/increment_chapter?chapter_count="+next);
$('#back-link').attr("href", "/works/62/decrement_chapter?chapter_count="+idLess);
$('#chapter-partial').replaceWith("<div class='col-md-12' id='chapter-partial'><%= escape_javascript(render :partial => 'works/chapter_read', locals: {chapter_number: @chapter_count, chapters: @chapters}) %></div>");
$('input[type=hidden]#chapter_number').val(id);
<% elsif @chapters.count == @chapter_count %>

$('#next-link').hide();
	
<% end %>