<div class="row">
	<div class="col-md-4"><%= link_to 'User Info', edit_user_info_url, remote: true, :id => 'edit_userinfo_link' %></div>
	<div class="col-md-4"><%= link_to 'Chapter Title' %></div>
	<div class="col-md-4"><%= link_to 'Chapter Title' %></div>
</div>
<div class="row" id="edit_user_info" style="display:none;">
<%= render partial: 'edit_user_info' %>
</div>