<footer class="footer" style="margin-right: 9px; margin-left:9px;">
  <small>
    <a href="#">Codename: Ourchive</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "News", '#' %></li>
    </ul>
  </nav>
</footer>